body {
  color: #fff;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.blood {
  background: url("../img/blood.png") no-repeat top right, #14131A url("../img/bg.png") no-repeat center center/cover;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 80px;
}

.logo_link {
  display: inline-block;
  margin-right: 50px;
}

.nav_menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_menu_item {
  margin-right: 30px;
}

.nav_menu_item_link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.date {
  display: block;
  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 38px;
}

.film_descr {
  max-width: 423px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 40px;
}

.button_group {
  padding-top: 70px;
}

.button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.button_primary {
  color: #8D0019;
  background-color: #fff;
}

.button_icon, .button_text {
  display: inline-block;
  vertical-align: middle;
}

.button_text {
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;
}

.button_link {
  color: #fff;
}

.venom {
  position: absolute;
  top: 0;
  right: 0;
}